{% extends 'base.html' %}

{% block title %}
Groups
{% endblock %}


{% block body %}
    <div class="container">
        <div class="card-deck mb-3 text-center">
        <h1>Groups</h1>
        <div class="my-3 p-3 bg-body rounded shadow-sm">
        </div>
        {% for group in grps %}
            {% if group.id in grps_l_e %}
            <div class="container row row-cols-1 row-cols-md-5 gx-1">
                <div class="col themed-grid-col" ><a href='/groups/?group_id={{ group.id }}' id="{{ group.id }}">{{ group.name }}</a></div>
                {% for grp_id, count in numbr_stds_in_grp.items() %}
                    {% if grp_id == group.id %}
                        <div class="col themed-grid-col" ><a>{{ count }} students</a></div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        {% endfor %}

        </div>
    </div>

{% endblock %}



