{% extends 'base.html' %}

{% block title %}
Students
{% endblock %}

{% block body %}
    <div class="container">
        <div class="card-deck mb-3 text-center">
        <h1>List of Students</h1>
        <div class="my-3 p-3 bg-body rounded shadow-sm">
            <h6 class="border-bottom pb-2 mb-0">Students</h6>
            <div class="container row row-cols-1 row-cols-md-5 gx-1">
                <div class="col themed-grid-col" ><code>ID </code></div>
                <div class="col themed-grid-col"><code>First Name</code></div>
                <div class="col themed-grid-col"><code>Last Name</code></div>
            </div>
        </div>

        {% for std in info %}
            <div class="container row row-cols-1 row-cols-md-5 gx-1">
                <div class="col themed-grid-col" ><a href='/students/?student_id={{ std.id }}' id="{{ std.id }}">{{ std.id }} </a></div>
                <div class="col themed-grid-col"><code>{{ std.first_name }}</code></div>
                <div class="col themed-grid-col"><code>{{ std.last_name }}</code></div>
            </div>
        {% endfor %}

        </div>
    </div>

{% endblock %}



